@model List<DAL.DTO.TrainingDTO>
@{
    ViewBag.Title = "Dashboard";
}
<link href="~/Content/app/Admin.css" rel="stylesheet" />
<link href="~/Content/app/Callout.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.0/slimselect.css" integrity="sha512-0jtuSOf2mf7BDdp4NdezEWR/IZ3UuXNxfeJ/AmdP6cyRbkBxGmVjKv91i/cxWksjJtnpSSOsuhxFN0t7xiPA0Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.0/slimselect.min.js" integrity="sha512-mG8eLOuzKowvifd2czChe3LabGrcIU8naD1b9FUVe4+gzvtyzSy+5AafrHR57rHB+msrHlWsFaEYtumxkC90rg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="~/Scripts/app/Admin.js"></script>

<div class="d-flex justify-content-end pt-2 pb-3">
    <button id="addTrainingBtn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addTrainingCollapse" aria-expanded="false" aria-controls="addTrainingCollapse">
        <i id="addTrainingIcon" class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add Training
    </button>
</div>
<div class="collapse" id="addTrainingCollapse">
    <div class="card card-body">
        <div class="px-3">
            <form id="addTrainingForm" method="post" onsubmit="return false;" novalidate>
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="addTrainingName" class="form-label">Training Name</label>
                            <input type="text" class="form-control" id="addTrainingName" required>
                            <div class="invalid-feedback">Training name is required</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="addTrainingDescription" class="form-label">Description</label>
                            <textarea class="form-control" aria-label="Description" id="addTrainingDescription" maxlength="600" rows="3" required></textarea>
                            <div class="invalid-feedback">Training description is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="addTrainingStartDate" class="form-label">Training Start Date</label>
                            <input type="date" class="form-control" id="addTrainingStartDate" required onchange="enableApplicationDeadline()"/>
                            <div class="invalid-feedback">Training start date is required</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="addTrainingStartTime" class="form-label">Training Start Time</label>
                            <input type="time" class="form-control" id="addTrainingStartTime" step="1" required />
                            <div class="invalid-feedback">Training start time is required</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="addTrainingApplicationDeadline" class="form-label">Application Deadline</label>
                            <input type="date" class="form-control" id="addTrainingApplicationDeadline" required disabled/>
                            <div class="invalid-feedback">Application deadline is required</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="addTrainingCapacity" class="form-label">Capacity</label>
                            <input type="number" class="form-control" id="addTrainingCapacity" min="5" required />
                            <div class="invalid-feedback">Capacity is required</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="addTrainingDepartments" class="form-label">Department</label>
                            <select id="addTrainingDepartments" class="form-select" aria-label="departments" required>
                            </select>
                            <div class="invalid-feedback">A department is required</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="addTrainingAllPreRequisites" class="form-label">Training Pre-Requisites</label>
                            <select id="addTrainingAllPreRequisites" class="p-2" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex py-1 justify-content-end">
                        <button id="nextBtn" type="submit" class="btn btn-primary me-4">
                            <span class="btn-label icon"><i class="fa-solid fa-check"></i>&nbsp;&nbsp;Next</span>
                            <div class="spinner-border spinner-border-sm spinner" role="status" style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
@if (Model == null || Model.Count == 0)
{
    <div class="callout callout-warning">
        <h4 class="alert-heading"><strong>No trainings found</strong></h4>
        <div><span>Add trainings into the system.</span></div>
    </div>
}
else
{
    <div class="table-wrapper table-responsive">
        <table id="allTrainings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>TrainingName</th>
                    <th>DeadlineOfApplication</th>
                    <th>Capacity</th>
                    <th>DepartmentName</th>
                    <th>Pre-Requisite</th>
                    <th>Selection</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var training in Model)
                {
                    <tr>
                        <td>
                            @if (training.IsDeadlineExpired)
                            {
                                <span class="badge rounded-pill text-bg-danger">Closed</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill text-bg-success">Open</span>
                            }
                        </td>
                        <td>@training.TrainingName</td>
                        <td>@training.DeadlineOfApplication.ToString("d MMMM, yyyy")</td>
                        <td>@training.Capacity</td>
                        <td>@training.DepartmentName</td>
                        <td class="pre-requisite-cell">
                            @if (training.PreRequisites != null && training.PreRequisites.Any())
                            {
                                <ul class="ps-3">
                                    @foreach (var preRequisite in training.PreRequisites)
                                    {
                                        <li>@preRequisite.PreRequisiteName</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div class="text-danger">
                                    <span>No Pre Requisites for this training</span>
                                </div>
                            }
                        </td>
                        <td>
                            <button data-training-id="@training.TrainingId" type="button"
                                    class="btn btn-labeled btn-outline-success selection-btn" @(training.IsDeadlineExpired ? "" : "disabled")>
                                <span class="btn-label"><i class="fa-regular fa-square-check icon"></i></span>
                                <div class="spinner-border spinner-border-sm spinner" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </td>
                        <td>
                            <button data-training-id="@training.TrainingId" type="button"
                                    class="btn btn-labeled btn-outline-primary edit-btn"
                                    data-bs-target="#updateTrainingModal">
                                <span class="btn-label"><i class="fa-regular fa-pen-to-square icon"></i></span>
                                <div class="spinner-border spinner-border-sm spinner" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </td>
                        <td>
                            <button data-training-id="@training.TrainingId" type="button" class="btn btn-labeled btn-outline-danger delete-btn text-center">
                                <span class="btn-label"><i class="fa-solid fa-trash icon"></i></span>
                                <div class="spinner-border spinner-border-sm spinner" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <form id="selectionForm" action="/EnrollmentProcess/ViewSelectedUsers" method="post">
        <input type="hidden" id="trainingIdInput" name="trainingId" value="" />
    </form>
    <!-- Edit Training Modal -->
    <div class="modal fade" id="updateTrainingModal" tabindex="-1" aria-labelledby="updateTrainingModalLabel" aria-hidden="true" data-bs-focus="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="modalTrainingId" value="" />
                    <h1 class="modal-title fs-5 text-center" id="updateTrainingModalLabel">Editing <span id="trainingTitle"></span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editTrainingForm" method="post" onsubmit="return false;" novalidate>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label for="trainingName" class="form-label">Training Name</label>
                                    <input type="text" class="form-control" id="trainingName" required>
                                    <div class="invalid-feedback">Training name is required</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label for="trainingDescription" class="form-label">Description</label>
                                    <textarea class="form-control" aria-label="Description" id="trainingDescription" maxlength="600" rows="5" required></textarea>
                                    <div class="invalid-feedback">Training description is required</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="applicationDeadline" class="form-label">Application Deadline</label>
                                    <input type="date" class="form-control" id="applicationDeadline" required />
                                    <div class="invalid-feedback">Application deadline is required</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="capacity" class="form-label">Capacity</label>
                                    <input type="number" class="form-control" id="capacity" min="5" required />
                                    <div class="invalid-feedback">Capacity is required</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="departments" class="form-label">Department</label>
                                    <select id="departments" class="form-select" aria-label="departments" required>
                                    </select>
                                    <div class="invalid-feedback">A department is required</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="trainingStartDate" class="form-label">Training Start Date</label>
                                    <input type="date" class="form-control" id="trainingStartDate" required />
                                    <div class="invalid-feedback">Training start date is required</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="trainingStartTime" class="form-label">Training Start Time</label>
                                    <input type="time" class="form-control" id="trainingStartTime" step="1" required />
                                    <div class="invalid-feedback">Training start time is required</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <label for="allPreRequisites" class="form-label">Training Pre-Requisites</label>
                                    <select id="allPreRequisites" class="p-2" multiple>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="saveChangesBtn" type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var addTrainingStartDate = document.getElementById('addTrainingStartDate');
        const currentDate = new Date();
        currentDate.setDate(currentDate.getDate() + 1)
        const formattedCurrentDate = currentDate.toISOString().split('T')[0];
        addTrainingStartDate.min = formattedCurrentDate

        function enableApplicationDeadline() {
            var addTrainingApplicationDeadline = document.getElementById('addTrainingApplicationDeadline');
            addTrainingApplicationDeadline.disabled = false;
        }
    </script>
}