@model DAL.DTO.TrainingDTO

@{
    ViewBag.Title = "Training Details";
}

<h2 id="trainingName" class="mb-3">@Model.TrainingName</h2>
<div class="fs-5">
    <p id="description">
        <strong>Description: </strong>
        @Model.Description
    </p>
    <p id="departmentName">
        <strong>Department: </strong>
        @Model.DepartmentName
    </p>
    <p id="capacity">
        <strong>Capacity: </strong>
        @Model.Capacity
    </p>
    <p id="startingDate">
        <strong>Training Course Starting Date: </strong>
        @Model.TrainingCourseStartingDate
    </p>
    <p id="deadline">
        <strong>Deadline of Application: </strong>
        @Model.DeadlineOfApplication
    </p>
</div>

<form id="uploadForm" method="post" onsubmit="return false;" enctype="multipart/form-data" novalidate>
    @for (int index = 0; index < Model.PreRequisites.Count; index++)
    {
        <div class="mb-3">
            <label><strong>PreRequisite @(index + 1)</strong>: @Model.PreRequisites[index].PreRequisiteDescription</label>
            <input type="file" class="form-control file-upload" required data-index="@index" accept=".pdf, .jpeg, .png" />
            <input type="hidden" id="trainingId" value="@Model.TrainingId" />
            <input type="hidden" id="prerequisiteId_@index" value="@Model.PreRequisites[index].PreRequisiteId" />
            <div id="requiredFeedback_@index" class="invalid-feedback">Field is required</div>
            <div id="typeFeedback_@index" class="invalid-feedback">Invalid File Type</div>
            <div id="sizeFeedback_@index" class="invalid-feedback">File size exceeds the limit</div>
        </div>
    }
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

<script src="~/Scripts/app/Details.js"></script>


