@model DAL.DTO.TrainingDTO

@{
    ViewBag.Title = "Training Details";
}

<link href="~/Content/app/Details.css" rel="stylesheet" />

<h2 id="trainingName" class="mb-3">@Model.TrainingName</h2>
<div class="fs-5">
    <p id="description">
        <strong>Description: </strong>
        @Model.Description
    </p>
    <p id="departmentName">
        <strong>Department: </strong>
        @Model.DepartmentName
    </p>
    <p id="deadline" class="mb-3">
        <strong>Deadline of Application: </strong>
        @Model.DeadlineOfApplication.ToString("d MMMM, yyyy")
    </p>
    <p id="startingDate" class="mb-3">
        <strong>Training Course Starting Date: </strong>
        @Model.TrainingCourseStartingDateTime.ToString("d MMMM yyyy 'at' HH:mm")
    </p>
</div>
<form id="uploadForm" method="post" onsubmit="return false;" enctype="multipart/form-data" novalidate>
    <input type="hidden" id="trainingId" value="@Model.TrainingId" />
    @if (Model.PreRequisites.Count == 0)
    {
        <div class="callout callout-info">
            <h4 class="alert-heading"><strong>No pre-requisites required for this training</strong></h4>
        </div>
    }
    else
    {
        <div class="callout callout-info">
            <h4 class="alert-heading"><strong>Upload Attachments for Training Prerequisites</strong></h4>
            <p class="mb-0">Please upload the required documents for each prerequisite listed below. Ensure that each file is in PDF, JPEG, or PNG format.</p>
        </div>
        for (int index = 0; index < Model.PreRequisites.Count; index++)
        {
            <div class="mb-3">
                <label><strong>@Model.PreRequisites[index].PreRequisiteName</strong>: @Model.PreRequisites[index].PreRequisiteDescription</label>
                <input type="file" class="form-control file-upload" required data-index="@index" accept=".pdf, .jpeg, .png" />
                <input type="hidden" id="prerequisiteId_@index" value="@Model.PreRequisites[index].PreRequisiteId" />
                <div id="requiredFeedback_@index" class="invalid-feedback">Field is required</div>
                <div id="typeFeedback_@index" class="invalid-feedback">Invalid File Type</div>
                <div id="sizeFeedback_@index" class="invalid-feedback">File size exceeds the limit</div>
            </div>
        }
    }
    <input type="submit" value="Apply for training" class="btn btn-primary" />
</form>

<script src="~/Scripts/app/Details.js"></script>


